<nav class="nav nav-pills justify-content-center">
  <a [routerLinkActive]="['active']" [routerLink]="['/landing/home']" class="nav-item nav-link">HOME</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/landing/currency-exchange']" class="nav-item nav-link">EXCHANGE</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/landing/insights']" class="nav-item nav-link">INSIGHTS</a>
  <a [routerLinkActive]="['active']" [routerLink]="['/landing/about-us']" class="nav-item nav-link">ABOUT US</a>
</nav>