// OpenSans
$font-family-open-sans:                    OpenSans, "Helvetica Neue", Arial, sans-serif !default;
$font-family-open-sans-bold:               OpenSansBold, "Helvetica Neue", Arial, sans-serif !default;
$font-family-open-sans-bold-italic:        OpenSansBoldItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-open-sans-extra-bold:         OpenSansExtraBold, "Helvetica Neue", Arial, sans-serif !default;
$font-family-open-sans-extra-bold-italic:  OpenSansExtraBoldItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-open-sans-italic:             OpenSansItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-open-sans-light:              OpenSansLight, "Helvetica Neue", Arial, sans-serif !default;
$font-family-open-sans-light-italic:       OpenSansLightItalic, "Helvetica Neue", Arial, sans-serif !default;
$font-family-open-sans-semi-bold:          OpenSansSemibold, "Helvetica Neue", Arial, sans-serif !default;
$font-family-open-sans-semi-bold-italic:   OpenSansSemiboldItalic, "Helvetica Neue", Arial, sans-serif !default;

// Raleway
$font-family-ralleway:                     Raleway, "Helvetica Neue", Arial, sans-serif !default;
$font-family-ralleway-medium:              RalewayMedium, "Helvetica Neue", Arial, sans-serif !default;
$font-family-ralleway-light:               RalewayLight, "Helvetica Neue", Arial, sans-serif !default;
$font-family-ralleway-heavy:               RalewayHeavy, "Helvetica Neue", Arial, sans-serif !default;
$font-family-ralleway-extra-light:         RalewayExtraLight, "Helvetica Neue", Arial, sans-serif !default;
$font-family-ralleway-extra-bold:          RalewayExtraBold, "Helvetica Neue", Arial, sans-serif !default;
$font-family-ralleway-bold:                RalewayBold, "Helvetica Neue", Arial, sans-serif !default;
$font-family-ralleway-semi-bold:           RalewaySemiBold, "Helvetica Neue", Arial, sans-serif !default;
$font-family-ralleway-thin:                RalewayThin, "Helvetica Neue", Arial, sans-serif !default;

// Arial
$font-family-arial:                        Arial, sans-serif !default;

$font-family-default: $font-family-ralleway !default;

// Colors
$c-white: #fff;
$c-red: #f00;
$c-black: #010101;

$c-gray: #5d5d5d;
$c-gray-light: #dadfe3;
$c-gray-light-alter: #bfc2c5;
$c-gray-dark: #0d0d0d;